<style type="text/css">
   	.tblCalc{
 		border:3px solid green;
 		margin:0;
 		padding:0;
 		width:350px;
 		text-align:center;
 	}
 	.tblCalc input{
 		border:1px solid green;
 		width:40px;
 		margin:6px;
 	}
	 	#btnWide{
 		width:100px;
 	}
 	#editWide{
 		width:350px;
 	}
</style>